In [2]:
import requests
import json
from pprint import pprint
import pandas as pd

In [3]:
GetWebsiteURL = "https://datausa.io/api/data?drilldowns=State&measures=Population&year=latest"
WR = requests.get(GetWebsiteURL)
x = WR.json()
pprint(x)

{'data': [{'ID State': '04000US01',
           'ID Year': 2019,
           'Population': 4903185,
           'Slug State': 'alabama',
           'State': 'Alabama',
           'Year': '2019'},
          {'ID State': '04000US02',
           'ID Year': 2019,
           'Population': 731545,
           'Slug State': 'alaska',
           'State': 'Alaska',
           'Year': '2019'},
          {'ID State': '04000US04',
           'ID Year': 2019,
           'Population': 7278717,
           'Slug State': 'arizona',
           'State': 'Arizona',
           'Year': '2019'},
          {'ID State': '04000US05',
           'ID Year': 2019,
           'Population': 3017804,
           'Slug State': 'arkansas',
           'State': 'Arkansas',
           'Year': '2019'},
          {'ID State': '04000US06',
           'ID Year': 2019,
           'Population': 39512223,
           'Slug State': 'california',
           'State': 'California',
           'Year': '2019'},
          {'ID State': '04000US08',
           'ID Year': 2019,
           'Population': 5758736,
           'Slug State': 'colorado',
           'State': 'Colorado',
           'Year': '2019'},
          {'ID State': '04000US09',
           'ID Year': 2019,
           'Population': 3565287,
           'Slug State': 'connecticut',
           'State': 'Connecticut',
           'Year': '2019'},
          {'ID State': '04000US10',
           'ID Year': 2019,
           'Population': 973764,
           'Slug State': 'delaware',
           'State': 'Delaware',
           'Year': '2019'},
          {'ID State': '04000US11',
           'ID Year': 2019,
           'Population': 705749,
           'Slug State': 'district-of-columbia',
           'State': 'District of Columbia',
           'Year': '2019'},
          {'ID State': '04000US12',
           'ID Year': 2019,
           'Population': 21477737,
           'Slug State': 'florida',
           'State': 'Florida',
           'Year': '2019'},
          {'ID State': '04000US13',
           'ID Year': 2019,
           'Population': 10617423,
           'Slug State': 'georgia',
           'State': 'Georgia',
           'Year': '2019'},
          {'ID State': '04000US15',
           'ID Year': 2019,
           'Population': 1415872,
           'Slug State': 'hawaii',
           'State': 'Hawaii',
           'Year': '2019'},
          {'ID State': '04000US16',
           'ID Year': 2019,
           'Population': 1787065,
           'Slug State': 'idaho',
           'State': 'Idaho',
           'Year': '2019'},
          {'ID State': '04000US17',
           'ID Year': 2019,
           'Population': 12671821,
           'Slug State': 'illinois',
           'State': 'Illinois',
           'Year': '2019'},
          {'ID State': '04000US18',
           'ID Year': 2019,
           'Population': 6732219,
           'Slug State': 'indiana',
           'State': 'Indiana',
           'Year': '2019'},
          {'ID State': '04000US19',
           'ID Year': 2019,
           'Population': 3155070,
           'Slug State': 'iowa',
           'State': 'Iowa',
           'Year': '2019'},
          {'ID State': '04000US20',
           'ID Year': 2019,
           'Population': 2913314,
           'Slug State': 'kansas',
           'State': 'Kansas',
           'Year': '2019'},
          {'ID State': '04000US21',
           'ID Year': 2019,
           'Population': 4467673,
           'Slug State': 'kentucky',
           'State': 'Kentucky',
           'Year': '2019'},
          {'ID State': '04000US22',
           'ID Year': 2019,
           'Population': 4648794,
           'Slug State': 'louisiana',
           'State': 'Louisiana',
           'Year': '2019'},
          {'ID State': '04000US23',
           'ID Year': 2019,
           'Population': 1344212,
           'Slug State': 'maine',
           'State': 'Maine',
           'Year': '2019'},
          {'ID State': '04000US24',
           'ID Year': 2019,
           'Population': 6045680,
           'Slug State': 'maryland',
           'State': 'Maryland',
           'Year': '2019'},
          {'ID State': '04000US25',
           'ID Year': 2019,
           'Population': 6892503,
           'Slug State': 'massachusetts',
           'State': 'Massachusetts',
           'Year': '2019'},
          {'ID State': '04000US26',
           'ID Year': 2019,
           'Population': 9986857,
           'Slug State': 'michigan',
           'State': 'Michigan',
           'Year': '2019'},
          {'ID State': '04000US27',
           'ID Year': 2019,
           'Population': 5639632,
           'Slug State': 'minnesota',
           'State': 'Minnesota',
           'Year': '2019'},
          {'ID State': '04000US28',
           'ID Year': 2019,
           'Population': 2976149,
           'Slug State': 'mississippi',
           'State': 'Mississippi',
           'Year': '2019'},
          {'ID State': '04000US29',
           'ID Year': 2019,
           'Population': 6137428,
           'Slug State': 'missouri',
           'State': 'Missouri',
           'Year': '2019'},
          {'ID State': '04000US30',
           'ID Year': 2019,
           'Population': 1068778,
           'Slug State': 'montana',
           'State': 'Montana',
           'Year': '2019'},
          {'ID State': '04000US31',
           'ID Year': 2019,
           'Population': 1934408,
           'Slug State': 'nebraska',
           'State': 'Nebraska',
           'Year': '2019'},
          {'ID State': '04000US32',
           'ID Year': 2019,
           'Population': 3080156,
           'Slug State': 'nevada',
           'State': 'Nevada',
           'Year': '2019'},
          {'ID State': '04000US33',
           'ID Year': 2019,
           'Population': 1359711,
           'Slug State': 'new-hampshire',
           'State': 'New Hampshire',
           'Year': '2019'},
          {'ID State': '04000US34',
           'ID Year': 2019,
           'Population': 8882190,
           'Slug State': 'new-jersey',
           'State': 'New Jersey',
           'Year': '2019'},
          {'ID State': '04000US35',
           'ID Year': 2019,
           'Population': 2096829,
           'Slug State': 'new-mexico',
           'State': 'New Mexico',
           'Year': '2019'},
          {'ID State': '04000US36',
           'ID Year': 2019,
           'Population': 19453561,
           'Slug State': 'new-york',
           'State': 'New York',
           'Year': '2019'},
          {'ID State': '04000US37',
           'ID Year': 2019,
           'Population': 10488084,
           'Slug State': 'north-carolina',
           'State': 'North Carolina',
           'Year': '2019'},
          {'ID State': '04000US38',
           'ID Year': 2019,
           'Population': 762062,
           'Slug State': 'north-dakota',
           'State': 'North Dakota',
           'Year': '2019'},
          {'ID State': '04000US39',
           'ID Year': 2019,
           'Population': 11689100,
           'Slug State': 'ohio',
           'State': 'Ohio',
           'Year': '2019'},
          {'ID State': '04000US40',
           'ID Year': 2019,
           'Population': 3956971,
           'Slug State': 'oklahoma',
           'State': 'Oklahoma',
           'Year': '2019'},
          {'ID State': '04000US41',
           'ID Year': 2019,
           'Population': 4217737,
           'Slug State': 'oregon',
           'State': 'Oregon',
           'Year': '2019'},
          {'ID State': '04000US42',
           'ID Year': 2019,
           'Population': 12801989,
           'Slug State': 'pennsylvania',
           'State': 'Pennsylvania',
           'Year': '2019'},
          {'ID State': '04000US44',
           'ID Year': 2019,
           'Population': 1059361,
           'Slug State': 'rhode-island',
           'State': 'Rhode Island',
           'Year': '2019'},
          {'ID State': '04000US45',
           'ID Year': 2019,
           'Population': 5148714,
           'Slug State': 'south-carolina',
           'State': 'South Carolina',
           'Year': '2019'},
          {'ID State': '04000US46',
           'ID Year': 2019,
           'Population': 884659,
           'Slug State': 'south-dakota',
           'State': 'South Dakota',
           'Year': '2019'},
          {'ID State': '04000US47',
           'ID Year': 2019,
           'Population': 6829174,
           'Slug State': 'tennessee',
           'State': 'Tennessee',
           'Year': '2019'},
          {'ID State': '04000US48',
           'ID Year': 2019,
           'Population': 28995881,
           'Slug State': 'texas',
           'State': 'Texas',
           'Year': '2019'},
          {'ID State': '04000US49',
           'ID Year': 2019,
           'Population': 3205958,
           'Slug State': 'utah',
           'State': 'Utah',
           'Year': '2019'},
          {'ID State': '04000US50',
           'ID Year': 2019,
           'Population': 623989,
           'Slug State': 'vermont',
           'State': 'Vermont',
           'Year': '2019'},
          {'ID State': '04000US51',
           'ID Year': 2019,
           'Population': 8535519,
           'Slug State': 'virginia',
           'State': 'Virginia',
           'Year': '2019'},
          {'ID State': '04000US53',
           'ID Year': 2019,
           'Population': 7614893,
           'Slug State': 'washington',
           'State': 'Washington',
           'Year': '2019'},
          {'ID State': '04000US54',
           'ID Year': 2019,
           'Population': 1792147,
           'Slug State': 'west-virginia',
           'State': 'West Virginia',
           'Year': '2019'},
          {'ID State': '04000US55',
           'ID Year': 2019,
           'Population': 5822434,
           'Slug State': 'wisconsin',
           'State': 'Wisconsin',
           'Year': '2019'},
          {'ID State': '04000US56',
           'ID Year': 2019,
           'Population': 578759,
           'Slug State': 'wyoming',
           'State': 'Wyoming',
           'Year': '2019'},
          {'ID State': '04000US72',
           'ID Year': 2019,
           'Population': 3193694,
           'Slug State': 'puerto-rico',
           'State': 'Puerto Rico',
           'Year': '2019'}],
 'source': [{'annotations': {'dataset_link': 'http://www.census.gov/programs-surveys/acs/',
                             'dataset_name': 'ACS 1-year Estimate',
                             'source_description': 'The American Community '
                                                   'Survey (ACS) is conducted '
                                                   'by the US Census and sent '
                                                   'to a portion of the '
                                                   'population every year.',
                             'source_name': 'Census Bureau',
                             'subtopic': 'Demographics',
                             'table_id': 'B01003',
                             'topic': 'Diversity'},
             'measures': ['Population'],
             'name': 'acs_yg_total_population_1',
             'substitutions': []}]}

In [4]:
states = []
i = 0
while i < 51:
    i = i+1
    y = x['data'][i]['State']
    states.append(y)
    #print(x['data'][i]['State']) 
print(states)

['Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico']

In [5]:
population = []
i = 0
while i < 51:
    i = i+1
    yy = x['data'][i]['Population']
    population.append(yy)
print(population)

[731545, 7278717, 3017804, 39512223, 5758736, 3565287, 973764, 705749, 21477737, 10617423, 1415872, 1787065, 12671821, 6732219, 3155070, 2913314, 4467673, 4648794, 1344212, 6045680, 6892503, 9986857, 5639632, 2976149, 6137428, 1068778, 1934408, 3080156, 1359711, 8882190, 2096829, 19453561, 10488084, 762062, 11689100, 3956971, 4217737, 12801989, 1059361, 5148714, 884659, 6829174, 28995881, 3205958, 623989, 8535519, 7614893, 1792147, 5822434, 578759, 3193694]

In [6]:
mydata = {
    "states": states,
    "population": population
}

mydata = pd.DataFrame(mydata)
mydata.head(10)

                 states  population
0                Alaska      731545
1               Arizona     7278717
2              Arkansas     3017804
3            California    39512223
4              Colorado     5758736
5           Connecticut     3565287
6              Delaware      973764
7  District of Columbia      705749
8               Florida    21477737
9               Georgia    10617423